@import "./../../scss/variables";

.confirm-button-block > button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

.confirm-button-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-block > input {
  width: 200px;
  height: 30px;
}

.address-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.green {
  color: green;
  text-align: center;
}
.confirm-order > div{
  text-align: center;
}